<!- deleteBook.html -->
<html>
	<head></head>
	<body>
		<h1> Delete Book </h1>
		{% for i in books %}
			{% if i["id"] == book_id|string %}
			<p> Are you sure you want to delete {{i["title"]}}? </p>
			{% endif %}
		{% endfor %}
		<form action="{{url_for('delete', book_id=book_id)}}" method="POST">
			<input type="hidden" value={{book_id}} name="book_id">
			<input type="submit" value="Delete">
		</form>
		<a href="{{url_for('showBook')}}"> Cancel </a>
	</body>
</html>