<!- editBook.html -->
<html>
	<head></head>
	<body>
		<h1> Edit Book </h1>
		
		<form  action="{{url_for('process', book_id=book_id)}}" method="POST">
			<input type="hidden" value={{book_id}} name="book_id">
			<p> Name: </p>
			<input type="text" size="30" name="name">
			<input type="submit" value="Edit">
		</form>
		<a href="{{url_for('showBook')}}"> Cancel </a>
	</body>
</html>