<!- newBook.html -->
<html>
	<head></head>
	<body>
		<h1> New Book </h1>
		<p> Name: </p>
		<form  action="{{url_for('new')}}" method="POST">
			<input type="hidden" value={{book_id}} name="book_id">
			<input type="text" size="30" name="name">
			<input type="submit" value="Create">
		</form>
		<a href="{{url_for('showBook')}}"> Cancel </a>
	</body>
</html>