<!- showBook.html -->
<html>
	<head></head>
	<body>
		<h1> Books </h1>
		{% if books == [] %}
			<p> No books exist</p>
		{% else %}
			{% for i in books %}
				<div>
					{{i.title}} <br>
					<a href="{{url_for('showBook')+i.id+'/edit/'}}"> Edit books </a> <br>
					<a href="{{url_for('showBook')+i.id+'/delete/'}}"> Delete books </a>
					<br><br>
				</div>
			{% endfor %}
		{% endif %}

	</body>
</html>